/*
    $lightercelete: #d2feffff;
    $celeste: #a8ecedff;
    $azul: #246eb9ff;
    $hunyadi-yellow: #edb458ff;
    $fulvous: #e8871eff;
    $burnt-umber: #823329ff;
*/

/* 
#d7ffff
#77b0fd
#ffd578
#ffb650
#d47b6c
*/

/** Allows body to cover entire page */
html {
    margin: 0px; 
    padding: 0px; 
}
body {
    margin: 0px; 
    padding: 0px; 
    font-size: 62.5%;
}

h1 { 
    color: rgb(21, 63, 106);
    font-size: 4em;
}

footer  {
    margin: 0px; 
    padding: 0px; 
    background-color: rgb(21, 63, 106);
}

.app {
    background-color:#ffb650ff;
}

.navbar { 
    display:flex; 
    flex:1;
    justify-content:right;
    height:fit-content;
    color: #77b0fd;
        /* background-color: #77b0fd; */
}

.navbar-link {
    border: 2px solid #77b0fd; 
    border-radius: 2px;
    margin: 0% .5%;
    /* margin: 10px 40px 0px 40px; */
}
.icons {
    height: fit-content;
    margin: 6px 8px;
}
.icon { 
    width: 30%;
}
.transparentbutton {
    background: none;
    border: solid 2px transparent;
    border-radius: 4px;
    text-decoration: none;
    height: 100%;
    width: 100%;
    padding: 0px;
}

.transparentbutton:hover {
    border-color: grey;

}

.border {
    border: solid  1px black; 
    /* border-radius: 8px; */
}

.textbox {
    background-color: #fff3d877;
    border-radius: 16px;
    color: rgb(21, 63, 106);
    font-size: 3em;
}

.main-container { 
    display:flex; 
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.container { 
    width: 80%;
    padding: 20px; /** TODO: hardcoded*/
}

.profile-container { 
    width: 80%;
    padding: 1%; /** TODO: hardcoded*/
}

.project-container { 
    width: 80%;
    padding: 1%; /** TODO: hardcoded*/
}

.sidebyside { 
    display:flex; 
    flex: 1;
    flex-direction: row;
    justify-content: space-around;
}

.profilepic {
    width: 30%;
}