.border {
    border: solid 2px lightsalmon; 
}

.center-container { 
    display:flex; 
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.sidebyside { 
    display:flex; 
    flex: 1;
    flex-direction: row;
}

.profilepic {
    height: 100%; 
    width: 100%; 

}

.half {
    width: 50%; 
}