/*
    $lightercelete: #d2feffff;
    $celeste: #a8ecedff;
    $azul: #246eb9ff;
    $hunyadi-yellow: #edb458ff;
    $fulvous: #e8871eff;
    $burnt-umber: #edb458ff;
*/

/* 
#d7ffff
#77b0fd
#ffd578
#ffb650
#d47b6c
*/

/** Allows body to cover entire page */
html {
    margin: 0px; 
    padding: 0px; 
}
body {
    margin: 0px; 
    padding: 0px; 
    font-size: 62.5%;
}

h1 { 
    color: rgb(21, 63, 106);
    font-size: 4em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 { 
    color: rgb(21, 63, 106);
    font-size: 2.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h3 { 
    color: rgb(21, 63, 106);
    font-size: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a { 
    color: rgb(21, 63, 106);
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.divider {
    /* color: rgb(21, 63, 106); */
    /* height: 1em; */
    /* background-color: rgb(21, 63, 106); */
    border: .5em solid rgb(21, 63, 106);
    border-radius: .5em;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    /* margin-bottom: 4%; */
}

/* footer  {
    margin: 0px; 
    padding: 0px; 
    background-color: rgb(21, 63, 106);
} */

.app {
    background-color: rgb(251, 212, 154);
    
    background-image: url('./images/bg_1.svg');
    background-size: cover;
    background-position: relative;
    background-attachment: fixed;
}

.navbar { 
    display:flex; 
    flex:1;
    justify-content:center;
    height:fit-content;
    color: #153F6A;
    padding: 1%;
        /* background-color: #77b0fd; */
}

.navbar-link {
    border: .05% solid #153F6A;
    border-radius: .05%;
    margin: 0% .5%;
    padding: .1% .3%;
    font-size: 3em;
    /* margin: 10px 40px 0px 40px; */
}

.icons {
    height: fit-content;
    margin: 6px 8px;
}
.icon { 
    /* width: 30%; */
    height: 2em;
    width: 3em;
    font-size: 3em;
}

.transparentbutton {
    /* background: none;
    border: solid 1em transparent;
    border-radius: 1em; */
    text-decoration: none;
    /* padding: 0px; */
}

.transparentbutton:hover {
    border-color: grey;
}

.border {
    border: transparent; 
    /* border-radius: 8px; */
}

.textbox {
    background-color: #fff3d8AA;
    border-radius: 16px;
    color: rgb(21, 63, 106);
    font-size: 3em;
    margin: 3% 0% 3% 0%;
    padding: 1em; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.textbox-link {
    margin-top: 3%;
}

.main-container { 
    display:flex; 
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.container { 
    width: 80%;
    padding: 20px; /** TODO: hardcoded*/
}

.profile-container { 
    width: 80%;
    padding: 1%; /** TODO: hardcoded*/
}

.project-container { 
    width: 80%;
    padding: 1%; /** TODO: hardcoded*/
    margin: 2% 0% 2% 0%;
}

.sidebyside { 
    display:flex; 
    flex: 1;
    flex-direction: row;
    justify-content: space-around;
}

.profilepic_container {
    width: 30%;
    margin: 1% 3% 1% 3%;
    display: flex; 
    align-items: center;
    flex-direction: row;
}

.profilepic {
    box-shadow: 1em 1em 0px 0px #fff3d8AA;
}

img {
    max-width: 100%; 
    height: auto; 
}

.text-side {
    margin: 1% 3% 1% 3%;
    width: fit-content;
}

.project-image {
    width: 30%;
    height: auto; 
    margin: 1% 3% 1% 3%;
}

/* .fixed_bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
} */

.footer_box {
    background-color: rgb(21, 63, 106);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    color: white;
    text-align: center;
}

#artwork_container {
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    width: 80%;
}

.single_art_container { 
    grid-column: 1 / -1;
    margin: 100px;
}

.art-column-item { 
    grid-column: 1 / -1;
    width: 100%; 
    /* height: 100%; */
}

.modal { /*the background/modal*/
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0; /*TODO: understand */
    top: 0; 
    width: 100%; 
    height: 100%; 
    overflow: auto; /* Enables scroll */
    background-color: rgb(0,0,0); 
    background-color: rgba(255, 255, 255, 0.4); 
}

.modal-content {  /*the box*/
    background-color: #fefefe; 
    margin: 15% auto; 
    padding: 20px; 
    border: 1px solid #888; 
    width: 80%; 
    border-radius: 20px;
}

.modal-image { 
    max-height: 500px;
}

.close {
    color: #aaa; 
    float: right; 
    font-size: 28px; 
    font-weight: bold; 
}

.close:hover, 
.close:focus {
    color: black; 
    text-decoration: none; 
    cursor: pointer; 
}

.thumbnail:hover {
    cursor:zoom-in; 
}

/* 

.gallery_col {
    float:left;
    width: 20%;
    padding: 5px;
    height: auto; 
}

.gallery_row::after {
    content: "";
    clear: both;
    display: table;
} */

.gallery_row {
    display: flex;
    width:80%; 
    align-items: center;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 1em;
  }
  
  .gallery_col {
    flex: 20%;
    padding: 1em;
    /* max-height: 500px; */
  }
  